:root {
    --gradientedefundo: linear-gradient(90deg, rgb(0, 0, 0) 0%, #097a57 35%, #079b7b 100%); 
    font-family:'SAO';
        font-size: 1.3rem;}
    
@font-face 
        {font-family:'SAO';
        src: url(fontes/SAOUIWelcome-Regular.otf) format('opentype'); }
    
body
        {background: var(--gradientedefundo); 
        color: #fff;
        width: 70%;
        margin: auto;}
    
h1, h2
        {text-align: center;}
    
h1 
        {background-color: black;
        text-align: center;}
    
img
        {margin: auto;        
        width: 40%;
        display: block;}
    
menu 
        {background-color: #079b7b;
        margin: auto;
        text-align: center;
        padding: 0.5rem;}


nav menu li 
    {display: inline;
    margin: auto;
    padding: 0rem;
    font-size: large;
    color: gold;
    text-align: center;
    text-decoration: none;}


menu li a 
{color: gold;
text-transform: uppercase;
text-align: center;
padding: 1.5rem;}

a {text-align: center;
color: yellow;}

form {text-align: center;}

footer {text-align: center;}