:root {
    --gradientedefundo: linear-gradient( rgb(0, 0, 0) 0%, rgb(40, 0, 0) 35%, rgb(7, 155, 123) 100%); 
        font-family: 'SAO', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.2rem;}
    
@font-face 
        {font-family:'SAO';
        src: url(fontes/SAOUIWelcome-Regular.otf) format('opentype'); }
    
body
        {background: var(--gradientedefundo); 
        color: #fff;
        width: 70%;
        margin: auto;}
    
h1, h2, h3
        {text-align: center;}
    
h1      {text-align: center;}

h2 {padding: 0.1rem;}

p {padding: 0.1rem;}
    
img
        {margin: auto;        
        width: 40%;
        display: block;}

    
menu 
        {background-color: gold;
        margin: auto;
        text-align: center;
        padding: 0.5rem;}


nav menu li 
    {display: inline;
    margin: auto;
    padding: 0rem;
    font-size: large;
    color: gold;
    text-align: center;
    text-decoration: none;}


menu li a 
{color: rgb(0, 0, 0);
text-transform: uppercase;
text-align: center;
text-decoration: none;
padding: 1.5rem;}

address ul li a {text-decoration: none;
display: flex;}

a {text-align: center;
color: yellow;}

a:hover {color: rgb(255, 255, 255);}

form {text-align: center;}

footer {display: block;
        text-align: center;}

.container{     display: flex;
                align-items: center;
                margin: 0 auto;}
